<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :started_at %>
    <%= f.input :finished_at %>
    <%= f.association :surveyor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
