<p id="notice"><%= notice %></p>

<p>
  <strong>Started at:</strong>
  <%= @job.started_at %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @job.finished_at %>
</p>

<p>
  <strong>Surveyor:</strong>
  <%= @job.surveyor %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
