<h1>Listing cases</h1>

<table>
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Phone number</th>
      <th>Metadata hash</th>
      <th>State</th>
      <th>Fsa</th>
      <th>Language</th>
      <th>Offset hours from eastern</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |case| %>
      <tr>
        <td><%= case.campaign %></td>
        <td><%= case.phone_number %></td>
        <td><%= case.metadata_hash %></td>
        <td><%= case.state %></td>
        <td><%= case.fsa %></td>
        <td><%= case.language %></td>
        <td><%= case.offset_hours_from_eastern %></td>
        <td><%= link_to 'Show', case %></td>
        <td><%= link_to 'Edit', edit_case_path(case) %></td>
        <td><%= link_to 'Destroy', case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
