<%- model_class = Case -%>
<div class="page-header">
  <h1><%=t '.title', :default => Case %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:metadata_hash) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:fsa) %></th>
      <th><%= model_class.human_attribute_name(:language) %></th>
      <th><%= model_class.human_attribute_name(:offset_hours_from_eastern) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cases.each do |case| %>
      <tr>
        <td><%= case.id %></td>
        <td><%= case.phone_number %></td>
        <td><%= case.metadata_hash %></td>
        <td><%= case.state %></td>
        <td><%= case.fsa %></td>
        <td><%= case.language %></td>
        <td><%= case.offset_hours_from_eastern %></td>
        <td><%=l case.created_at, format: :long %></td>
        <td>
          <%= link_to case_path(case), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to case_path(case), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_case_path,
            :class => 'btn btn-primary' %>
