<h1>Listing calls</h1>

<table>
  <thead>
    <tr>
      <th>Jobs</th>
      <th>Final</th>
      <th>Disposition</th>
      <th>Results hash</th>
      <th>Case</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.jobs %></td>
        <td><%= call.final %></td>
        <td><%= call.disposition %></td>
        <td><%= call.results_hash %></td>
        <td><%= call.case %></td>
        <td><%= link_to 'Show', call %></td>
        <td><%= link_to 'Edit', edit_call_path(call) %></td>
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Call', new_call_path %>
