<%- model_class = Call -%>
<div class="page-header">
  <h1><%=t '.title', :default => Call %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:final) %></th>
      <th><%= model_class.human_attribute_name(:disposition) %></th>
      <th><%= model_class.human_attribute_name(:results_hash) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.id %></td>
        <td><%= call.final %></td>
        <td><%= call.disposition %></td>
        <td><%= call.results_hash %></td>
        <td><%=l call.created_at, format: :long %></td>
        <td>
          <%= link_to call_path(call), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to call_path(call), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_call_path,
            :class => 'btn btn-primary' %>
