<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => Survey %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:default_invalid_choice_media) %></th>
      <th><%= model_class.human_attribute_name(:default_no_choice_media) %></th>
      <th><%= model_class.human_attribute_name(:default_maximum_repeats_media) %></th>
      <th><%= model_class.human_attribute_name(:default_maximum_invalid_repeats_media) %></th>
      <th><%= model_class.human_attribute_name(:default_repeat_question_choices) %></th>
      <th><%= model_class.human_attribute_name(:default_repeat_options_choices) %></th>
      <th><%= model_class.human_attribute_name(:default_choice_prompt_repeat_media) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.id %></td>
        <td><%= survey.default_invalid_choice_media %></td>
        <td><%= survey.default_no_choice_media %></td>
        <td><%= survey.default_maximum_repeats_media %></td>
        <td><%= survey.default_maximum_invalid_repeats_media %></td>
        <td><%= survey.default_repeat_question_choices %></td>
        <td><%= survey.default_repeat_options_choices %></td>
        <td><%= survey.default_choice_prompt_repeat_media %></td>
        <td><%=l survey.created_at, format: :long %></td>
        <td>
          <%= link_to survey_path(survey), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to survey_path(survey), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_survey_path,
            :class => 'btn btn-primary' %>
