<h1>Listing surveys</h1>

<table>
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Default invalid choice media</th>
      <th>Default no choice media</th>
      <th>Default maximum repeats media</th>
      <th>Default maximum invalid repeats media</th>
      <th>Default repeat question choices</th>
      <th>Default repeat options choices</th>
      <th>Default choice prompt repeat media</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.campaign %></td>
        <td><%= survey.default_invalid_choice_media %></td>
        <td><%= survey.default_no_choice_media %></td>
        <td><%= survey.default_maximum_repeats_media %></td>
        <td><%= survey.default_maximum_invalid_repeats_media %></td>
        <td><%= survey.default_repeat_question_choices %></td>
        <td><%= survey.default_repeat_options_choices %></td>
        <td><%= survey.default_choice_prompt_repeat_media %></td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path %>
